{{#each movies as |movie|}}

<div class=
  <ul data-id="{{movie.id}}">
  <li>{{#if movie.movie}}
    <large>Movie: {{movie.movie}}</large>
  {{else}}
    <!-- Movie not found -->
  {{/if}}</li>
    <li>{{#if movie.title}}
      <large>Title: {{movie.title}}</large>
    {{else}}
      <!-- Title not found -->
  {{/if}}</li>
    <li>{{#if movie.description}}
      <large>Description: {{movie.description}}</large>
    {{else}}
      Description not found
  {{/if}}</li>
    <li>{{#if movie.length}}
      <large>Length: {{movie.length}}</large>
    {{else}}
      Length not found
    {{/if}}</li>
      <li>{{#if movie.id}}
        <large>ID: {{movie.id}}</large>
      {{else}}
        Movie ID not found
      {{/if}}</li>

  </ul>
{{/each}}
